<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SensorScope.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AnalogScope.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DTMCHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <SensorScope.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="UpdateFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="TabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Grade" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RefVolt_0" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RefmA_0" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FtdiDeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ViewAddress" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ThermographUpper" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ThermographLower" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CsvFileFolder" serializeAs="String">
                <value />
            </setting>
        </SensorScope.Properties.Settings>
        <AnalogScope.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="UpdateFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="TabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Grade" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RefVolt_0" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RefmA_0" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FtdiDeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewMode" serializeAs="String">
                <value>Instant</value>
            </setting>
            <setting name="ViewInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ViewAddress" serializeAs="String">
                <value>1</value>
            </setting>
        </AnalogScope.Properties.Settings>
        <DTMCHost.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="UpdateFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="TabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Grade" serializeAs="String">
                <value>0</value>
            </setting>
        </DTMCHost.Properties.Settings>
    </userSettings>
</configuration>
